In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import csv

sal = pd.read_csv("C:/Users/biank/OneDrive/문서/카카오톡 받은 파일/Salary_Data.csv", index_col =0)
sal.keys()

df = pd.DataFrame(sal, columns=['YearsExperience','Salary'])

In [6]:
sal.head()

       YearsExperience  Salary
index
1                  1.1   39343
2                  1.3   46205
3                  1.5   37731
4                  2.0   43525
5                  2.2   39891

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 1 to 30
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 720.0 bytes

In [8]:
sal.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [9]:
x = np.array(sal['YearsExperience'])
y = np.array(sal['Salary'])

In [13]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.5, random_state=100)
print(type(x_train))
print(type(y_train))
print('x_train수:',x_train.shape)
print('x_test수:',x_test.shape)
print('y_train수:',y_train.shape)
print('y_test수:',y_test.shape)

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
x_train수: (15,)
x_test수: (15,)
y_train수: (15,)
y_test수: (15,)

In [14]:
print(df.values)

[[1.10000e+00 3.93430e+04]
 [1.30000e+00 4.62050e+04]
 [1.50000e+00 3.77310e+04]
 [2.00000e+00 4.35250e+04]
 [2.20000e+00 3.98910e+04]
 [2.90000e+00 5.66420e+04]
 [3.00000e+00 6.01500e+04]
 [3.20000e+00 5.44450e+04]
 [3.20000e+00 6.44450e+04]
 [3.70000e+00 5.71890e+04]
 [3.90000e+00 6.32180e+04]
 [4.00000e+00 5.57940e+04]
 [4.00000e+00 5.69570e+04]
 [4.10000e+00 5.70810e+04]
 [4.50000e+00 6.11110e+04]
 [4.90000e+00 6.79380e+04]
 [5.10000e+00 6.60290e+04]
 [5.30000e+00 8.30880e+04]
 [5.90000e+00 8.13630e+04]
 [6.00000e+00 9.39400e+04]
 [6.80000e+00 9.17380e+04]
 [7.10000e+00 9.82730e+04]
 [7.90000e+00 1.01302e+05]
 [8.20000e+00 1.13812e+05]
 [8.70000e+00 1.09431e+05]
 [9.00000e+00 1.05582e+05]
 [9.50000e+00 1.16969e+05]
 [9.60000e+00 1.12635e+05]
 [1.03000e+01 1.22391e+05]
 [1.05000e+01 1.21872e+05]]

In [19]:
x = np.array
y = np.array

x_test = x_test.reshape(-1,1)
x_test = x_test.reshape(-1,1)
print(x_train.shape, y_test.shape)

(15,) (15,)

In [20]:
from sklearn.linear_model import LinearRegression
li = LinearRegression()
li.fit(x_train, y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[1.3 5.9 4.5 6.  7.1 1.5 6.8 3.9 5.1 4.9 8.2 3.2 2.  8.7 3.2].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.