<a href="https://colab.research.google.com/github/202235402/AI-programming/blob/main/%EA%B3%BC%EC%A0%9C%201%20(breast_cancer).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#data와 labels 열개만 출력해서 실제 값을 확인

In [20]:
from sklearn.datasets import load_breast_cancer

import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler, LabelEncoder

from sklearn.neighbors import KNeighborsClassifier

breast_cancer_data = load_breast_cancer()



df_data = pd.DataFrame(breast_cancer_data.data, columns = df_features) #차이점

df_features = breast_cancer_data.feature_names

df_labels = pd.DataFrame(breast_cancer_data.target)

NameError: ignored

In [8]:
from sklearn.datasets import load_breast_cancer 

import pandas as pd

breast_cancer_data = load_breast_cancer()

df_data = pd.DataFrame(breast_cancer_data.data)
df_labels = pd.DataFrame(breast_cancer_data.target)

print(df_data[0:10])
print(df_data[0:10])

      0      1       2       3        4        5        6        7       8   \
0  17.99  10.38  122.80  1001.0  0.11840  0.27760  0.30010  0.14710  0.2419
1  20.57  17.77  132.90  1326.0  0.08474  0.07864  0.08690  0.07017  0.1812
2  19.69  21.25  130.00  1203.0  0.10960  0.15990  0.19740  0.12790  0.2069
3  11.42  20.38   77.58   386.1  0.14250  0.28390  0.24140  0.10520  0.2597
4  20.29  14.34  135.10  1297.0  0.10030  0.13280  0.19800  0.10430  0.1809
5  12.45  15.70   82.57   477.1  0.12780  0.17000  0.15780  0.08089  0.2087
6  18.25  19.98  119.60  1040.0  0.09463  0.10900  0.11270  0.07400  0.1794
7  13.71  20.83   90.20   577.9  0.11890  0.16450  0.09366  0.05985  0.2196
8  13.00  21.82   87.50   519.8  0.12730  0.19320  0.18590  0.09353  0.2350
9  12.46  24.04   83.97   475.9  0.11860  0.23960  0.22730  0.08543  0.2030

        9   ...     20     21      22      23      24      25      26      27  \
0  0.07871  ...  25.38  17.33  184.60  2019.0  0.1622  0.6656  0.7119  0.2654
1  0.05667  ...  24.99  23.41  158.80  1956.0  0.1238  0.1866  0.2416  0.1860
2  0.05999  ...  23.57  25.53  152.50  1709.0  0.1444  0.4245  0.4504  0.2430
3  0.09744  ...  14.91  26.50   98.87   567.7  0.2098  0.8663  0.6869  0.2575
4  0.05883  ...  22.54  16.67  152.20  1575.0  0.1374  0.2050  0.4000  0.1625
5  0.07613  ...  15.47  23.75  103.40   741.6  0.1791  0.5249  0.5355  0.1741
6  0.05742  ...  22.88  27.66  153.20  1606.0  0.1442  0.2576  0.3784  0.1932
7  0.07451  ...  17.06  28.14  110.60   897.0  0.1654  0.3682  0.2678  0.1556
8  0.07389  ...  15.49  30.73  106.20   739.3  0.1703  0.5401  0.5390  0.2060
9  0.08243  ...  15.09  40.68   97.65   711.4  0.1853  1.0580  1.1050  0.2210

       28       29
0  0.4601  0.11890
1  0.2750  0.08902
2  0.3613  0.08758
3  0.6638  0.17300
4  0.2364  0.07678
5  0.3985  0.12440
6  0.3063  0.08368
7  0.3196  0.11510
8  0.4378  0.10720
9  0.4366  0.20750

[10 rows x 30 columns]
      0      1       2       3        4        5        6        7       8   \
0  17.99  10.38  122.80  1001.0  0.11840  0.27760  0.30010  0.14710  0.2419
1  20.57  17.77  132.90  1326.0  0.08474  0.07864  0.08690  0.07017  0.1812
2  19.69  21.25  130.00  1203.0  0.10960  0.15990  0.19740  0.12790  0.2069
3  11.42  20.38   77.58   386.1  0.14250  0.28390  0.24140  0.10520  0.2597
4  20.29  14.34  135.10  1297.0  0.10030  0.13280  0.19800  0.10430  0.1809
5  12.45  15.70   82.57   477.1  0.12780  0.17000  0.15780  0.08089  0.2087
6  18.25  19.98  119.60  1040.0  0.09463  0.10900  0.11270  0.07400  0.1794
7  13.71  20.83   90.20   577.9  0.11890  0.16450  0.09366  0.05985  0.2196
8  13.00  21.82   87.50   519.8  0.12730  0.19320  0.18590  0.09353  0.2350
9  12.46  24.04   83.97   475.9  0.11860  0.23960  0.22730  0.08543  0.2030

        9   ...     20     21      22      23      24      25      26      27  \
0  0.07871  ...  25.38  17.33  184.60  2019.0  0.1622  0.6656  0.7119  0.2654
1  0.05667  ...  24.99  23.41  158.80  1956.0  0.1238  0.1866  0.2416  0.1860
2  0.05999  ...  23.57  25.53  152.50  1709.0  0.1444  0.4245  0.4504  0.2430
3  0.09744  ...  14.91  26.50   98.87   567.7  0.2098  0.8663  0.6869  0.2575
4  0.05883  ...  22.54  16.67  152.20  1575.0  0.1374  0.2050  0.4000  0.1625
5  0.07613  ...  15.47  23.75  103.40   741.6  0.1791  0.5249  0.5355  0.1741
6  0.05742  ...  22.88  27.66  153.20  1606.0  0.1442  0.2576  0.3784  0.1932
7  0.07451  ...  17.06  28.14  110.60   897.0  0.1654  0.3682  0.2678  0.1556
8  0.07389  ...  15.49  30.73  106.20   739.3  0.1703  0.5401  0.5390  0.2060
9  0.08243  ...  15.09  40.68   97.65   711.4  0.1853  1.0580  1.1050  0.2210

       28       29
0  0.4601  0.11890
1  0.2750  0.08902
2  0.3613  0.08758
3  0.6638  0.17300
4  0.2364  0.07678
5  0.3985  0.12440
6  0.3063  0.08368
7  0.3196  0.11510
8  0.4378  0.10720
9  0.4366  0.20750

[10 rows x 30 columns]

In [7]:
df.describe()

               v1          v2     v3
count    2.000000    3.000000    3.0
mean   300.000000  183.333333  200.0
std    141.421356   76.376262  260.0
min    200.000000  100.000000   40.0
25%    250.000000  150.000000   50.0
50%    300.000000  200.000000   60.0
75%    350.000000  225.000000  280.0
max    400.000000  250.000000  500.0

In [18]:
df_data.catplot(kind='box',x='df_features',data=df)
df_data.displot(kind='kde',x='df_features',data=df,fill=True)

AttributeError: ignored

#X_train, y_train, X_test, y_test 로 훈련과 테스트 데이터를 8:2로 나누기

In [ ]:
print(breast_cancer_data.target_names)
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(df_data, df_labels, test_size=0.2, random_state=79)

['malignant' 'benign']

In [ ]:
print("X_train.shape :", X_train.shape)

print("y_train.shape :", y_train.shape)

print("X_test.shape:", X_test.shape)

print("y_test.shape:", y_train.shape)

X_train.shape : (455, 30)
y_train.shape : (455, 1)
X_test.shape: (114, 30)
y_test.shape: (455, 1)

#KNN 알고리즘 모델 만들기, K값은 3을 사용
#KNN 모델 훈련

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
mymodel = KNeighborsClassifier(n_neighbors=3)
mymodel.fit(X_train, y_train)


prediction = mymodel.predict(X_test)

mymodel.score(X_test, y_test)

print(mymodel.score(X_test, y_test))

0.9385964912280702

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [ ]:
import pandas as pd

In [3]:
df = pd.DataFrame({"v1":[None,200,None,400], "v2":[None,200,100,250], "v3":[40,60,500,None]})
df

      v1     v2     v3
0    NaN    NaN   40.0
1  200.0  200.0   60.0
2    NaN  100.0  500.0
3  400.0  250.0    NaN

In [4]:
df.isnull()

      v1     v2     v3
0   True   True  False
1  False  False  False
2   True  False  False
3  False  False   True

In [5]:
df.isnull().sum()

v1    2
v2    1
v3    1
dtype: int64